*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

html {
    font-size: 12px;
    font-family: 'SF Pro Display', sans-serif;
    overflow-y: scroll;
}

body{
    background: url(Images/Home.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #f2f1f6;
}

.finder{
    width: 800px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    border-radius: 7px;
    position: relative;
}

.CenterStage {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.safe-area{
    position: absolute;
    width: 170px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

}

.tab{
    margin: 0;
}

.content{
    position: absolute;
    border-left: 1px solid;
    border-color: rgba(200, 200, 200, 1);
    margin-left: 170px;
    width: 630px;
    height: 450px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgba(255, 255, 255, 1);

}

.ufo{
    display: flex;
}
.align{
    margin-top: 15px;
    margin-left: 110px;
}
.tab{
    cursor: pointer;
    color: black;
    font-size: 12px;
    width: 315px;
    height: 47px;
    /* border-top-right-radius: 7px; */
}

.tab2{
    font-size: 12px;

    background-color: rgba(200, 200, 200, 1);
    width: 315px;
    height: 47px;
    border-top-right-radius: 7px;
}

.tab-active{
    color: black;
    font-size: 12px;
    background-color: rgba(200, 200, 200, 1);
    width: 315px;
    height: 47px;
    /* border-top-right-radius: 7px; */
}

.tab2-active{
    font-size: 12px;    
    background-color: rgba(255, 255, 255, 1);
    width: 315px;
    height: 47px;
    border-top-right-radius: 7px;
}

h1,h2,h3,h4,h5,h6{
    margin-top: 10px;
    margin-bottom: 10px;

}

.image{
    border: 0.37 solid;
    background-color: rgba(200, 200, 200, 1);
    border-radius: 7px;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.control{
    display: flex;
    height: 47px;
    border: 0.37px solid;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(150, 150, 150, 0.7);
}

.circle1{
    cursor: pointer;
    margin: 5px;
    margin-top: 17px;
    margin-left: 17px;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    border: 0.37px solid;
    border-color: rgba(150, 150, 150, 0.7);
    background-color: red;
}

.circle2{
    cursor: pointer;
    margin:5px;
    margin-top: 17px;
    border: 0.37px solid;
    border-color: rgba(150, 150, 150, 0.7);
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: orange;
}

.circle3{
    cursor: pointer;
    margin: 5px;
    margin-top: 17px;
    border: 0.37px solid;
    border-color: rgba(150, 150, 150, 0.7);
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: green;
}

.align a{
    font-size: 14px;
    font-weight:800;
}
.safe-area p{
    cursor: pointer;
    padding-left: 10px;
    font-weight: 500;
    font-size: 13px;
}

.focus{
    background-color: rgba(150, 150, 150, 0.6);
    padding: 10px;
    border-radius: 7px;
    margin: 5px;
}